<div class="container__big-card">

  <div class="big-card__photo">

    <img
      src="../../../assets/img/blog/noticia/placeholder.svg"
      alt="Imagem em branco"
      set="">

  </div>

  <div class="big-card__title">

    <h1><a href="#">Lorem ipsum dolor sit amet.</a></h1>

  </div>

  <div class="big-card__description">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, aliquam fugit! Aliquam a et ratione voluptas? Delectus modi reprehenderit corporis? Delectus repellat voluptates assumenda natus optio beatae reiciendis vel quis!</p>

  </div>


</div>
