.container__big-card{

  /* border: solid white 2px; */
  margin-left: 20px;
  margin-right: 10px;

  width: 600px;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

  .big-card__title > h1{

    margin-top: 15px;
    font-size: 35px;

  }

  .big-card__description > p {

    margin-top: 10px;
    color: grey;

  }

  .big-card__photo > img {

    width: 100%;
    min-width: 400px;

    border-radius: 20px;

  }

  .authorInfo{

    margin-top: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .authorInfo > img {

    width: 32px;
    border-radius: 50%;
    margin-right: 10px;

  }
