.container__small-card{

  margin-bottom: 15px;
  margin-left: 30px;
  width: 1000px;
  min-width: 500px;


}

.container__small-card-content{

  display: flex;
  flex-direction: row;

}

  .small-card__photo > img {

    width: 300px;
    min-width: 250px;
    margin-right: 20px;

    border-radius: 20px;

  }

  .small-card__title{

    display: flex;
    justify-content: center;
    align-items: center;

  }

  .container__small-card-separator{

    margin: 10px;

  }

  .authorInfo{

    margin-top: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .authorInfo > img {

    width: 32px;
    border-radius: 50%;
    margin-right: 10px;

  }
